%header.site-header
  %a{href: root_path}
    = image_tag('symbol_sml.png', class: 'logo', alt: 'Audrey Penven')
  %nav.site-nav
    %ul
      %li
        = link_to 'Photography Portfolio', photographs_path

      %li
        = link_to 'About', '#'