= content_for :head do

  :javascript
    $(function() {

      $.extend($.featherlight.defaults, {
        afterContent: function(e){
          var max_height = this.$instance.height() - 40;
          var max_width = this.$instance.width() - 40;
          $('img', this.$instance).attr('style', 'max-height:' + max_height + 'px; max-width:' + max_width + 'px;');
        },
      });

      $('body').on('click tap', '.featherlight img', function() {
        $('.featherlight .meta').toggleClass('visible');
      });
    });


%section.header-photograph

%section.gallery
  .container
    %h1.red.with-underline= @album.title
    - @album.photographs.each do |photograph|
      %a.photo-link{href: "#{photograph_path(photograph)} .photograph", data: {featherlight: 'ajax' }}= image_tag(photograph.image.url(:square_150), class: 'thumbnail')


- unless @album.description.blank?
  %section.description
    .container
      = @album.description

/ # - unless @album.collaborator_titles.empty?
