= content_for :head do

  :javascript
    $(function() {

      $.extend($.featherlight.defaults, {
        afterContent: function(e){
          var height = $('.featherlight-content', this.$instance).height();
          console.log('height: ' + height);
          $('img', this.$instance).attr('style', 'max-height:' + (height - 50) + 'px;');

          var width = $('.featherlight-content', this.$instance).width();
          $('.meta', this.$content).attr('style', 'width:' + width + 'px;');
        }
      });
    });

%section.header-photograph

%section.gallery
  .container
    %h1.red.with-underline= @album.title
    - @album.photographs.each do |photograph|
      %a.photo-link{href: photograph.image.url(:large), data: {featherlight: 'image'}}= image_tag(photograph.image.url(:square_150), class: 'thumbnail')

- unless @album.description.blank?
  %section.description
    .container
      = @album.description

/ # - unless @album.collaborator_titles.empty?
